@@ -1,5 +1,45 @@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NewHMS.DTO.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
    <title>login</title>

</head>
<body>

    <form asp-action="Login" method="post">

        <div class="container">
            <label asp-for="UserName"><b>Username</b></label>
            <input type="text" asp-for="UserName" placeholder="Enter Username">
            <div class="msg">
                <span class="err" asp-validation-for="UserName"></span>
            </div>



            <label asp-for="Password"><b>Password</b></label>
            <input type="password" asp-for="Password" placeholder="Enter Password">
            <div class="msg">
                <span asp-validation-for="Password" class="err"></span>
            </div>


            @if (TempData["msg"] != null)
            {
                <div class="msg">@TempData["msg"]</div>
            }

            <button type="submit">Login</button>
            <a class="text-alert" href="/UserAuthentication/Registration">Not a user? Signup</a>
        </div>
    </form>

</body>
</html>